body {
  background-color: #EAF6F6;
}

.div-2 {
  background-color: #EAF6F6;
  font: caption;
  line-height: 1.5;
  padding-left: 150px;
  font-size: 18px;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: #708090;
  border-width: 5px;
  width: 5%;
  margin-top: 0px;
}

h1 {
  color: #66BFBF;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0% {
    left: -3000px;
    top: -5000px;
  }

  50% {
    left: 50px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

img:hover {
  filter: grayscale(100%);
}

#title-rightmargin {
  padding-left: 10px;
  width: 760px;
  height: 50px;
  font-size: 23px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0% {
    left: -3000px;
    top: -5000px;
  }

  50% {
    left: 50px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

/*
.p1 {
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
  width: 1050px;
}
*/
.table1 {
  border: 1px solid black;
  border-collapse: collapse;
}

.bottom-container {
  background-color: #EAF6F6;
  height: 200px;
  width: 700px;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.bottom-table {
  color: white;
  padding: 10px;
}

.img-workexp {
  padding-left: 200px;
}

.skills-table2 {
  padding-bottom: 26px;
  padding-left: 50px;
}

.bottom-table2 {
  color: white;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.contact-table {
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 0px;
}

.resume-img {
  padding-bottom: 100px;
  padding-left: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0% {
    left: -3000px;
    top: -5000px;
  }

  50% {
    left: 50px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.bottom-buttons {
  padding-top: 100px;
  padding-left: 5px;
}

/*Test*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#download-text {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 6px;
}
